html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background: #000;
    overflow-x: hidden;
    overflow-y: hidden;
    background: linear-gradient(-45deg, #d0d870, #2c6c9a, #46788f, #5bbaa7);
    animation: gradient 8s ease infinite;
    background-size: 400% 400%;
}
  
canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

.ten {
    color: pink;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 24px;
    font-weight: bold;
}

::selection {
    background-color: transparent;
}

#snowflakeContainer{
    position:absolute;
    left:0px;
    top:0px;
}

.snowflake{
    padding-left:15px;
    font-size:14px;
    line-height:24px;
    position:fixed;
    color:#ebebeb;
    user-select:none;
    z-index:1000;
    -moz-user-select:none;
    -ms-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -webkit-touch-callout:none;
    color: pink;
}

.snowflake:hover {
    cursor:default;
}
.text{
    position: absolute;
    width: 100%;
    color: rgb(225, 12, 168);
    color: rgb(225, 37, 12);
    height:100%;
    font-size: 45px;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    flex-direction: column;
}
.bg {
    width: 100; 
    height:150;
    align-items: center;
    justify-content: center;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
